@tailwind base;
@tailwind components;
@tailwind utilities;

/*==========================================*/
/* Reset */
/*==========================================*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

@layer base {
  *,
  ::before,
  ::after {
    @apply border-current;
  }
  html {
    font-size: 1.2vw;
    font-family: 'Ubuntu', sans-serif;
    font-display: optional;

  }
  @media (max-width: 768px) {
    html {
      font-size: 4vw;
    }
  }
  body {
    width: 1280px;
  }
  @font-face {
    font-display: swap;
  }
  a {
    @apply cursor-pointer;
  }
  img,video {
    @apply w-full;
  }
  .no-js .lazy{
    @apply hidden;
  }
}

@layer components {
  .visiblely-hidden{
    position:absolute;clip:rect(0,0,0,0);
  }
  .wrapper{
    @apply md:mt-20 mt-10 px-5 md:px-40 flex flex-col items-center justify-center;
  }
  .btn {
    @apply relative text-white font-bold text-sm px-10 py-3 mx-1 my-2 inline-block overflow-hidden rounded-2xl transition-all duration-300;
  }
  .btn:before{
    @apply absolute bottom-0 left-0 w-full h-full bg-white rounded-2xl transition-all duration-300; 
    content:'';
    transform:translateY(100%);
  }
  .btn:hover:before{
    @apply translate-y-0;
  }
  .video-wrapper{
    @apply inline-block hover:p-3 hover:text-secondary border transition-all duration-300 relative;
  }
  label{
    @apply pb-1;
  }
  input, textarea{
    @apply p-3 bg-gray-100 text-black;
  }
  input{
    @apply rounded-2xl;
  }
  textarea{
    border-radius:2rem;
  }
/* Porfolio projects */
  .links{
    @apply inline-block;
  }
  .links svg{
    color:inherit;
    @apply w-6 h-6 mt-3 mx-1 inline-block;
  }
  .project-container{
    @apply border rounded-lg px-5 py-7 md:border-0 md:p-0 relative w-full md:flex my-10;
  }
  .project-descr-wrapper{
  @apply w-full md:w-1/2 md:absolute h-full flex justify-center items-center;
  }
  .project-img-wrapper{
    @apply md:p-3 md:w-3/5;
  }
  .project-title{
    @apply text-2xl font-bold pt-3 md:pb-4;
  }
  .project-text-wrapper{
    @apply bg-gray-100 z-50 px-4 py-3 md:px-8 md:py-6 rounded-lg relative;
  }
}

.background{ 
  background:center / cover url('.././assets/imgs/svg/background.svg') no-repeat;
}
footer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  transform:rotateX(180deg);
  height: 100%;
  background:bottom / cover url('.././assets/imgs/svg/background.svg') no-repeat;
}
@media (max-width: 768px) {
  footer .background{
    height: auto;
  }
}
svg .animation{
  transform-box: fill-box;
}
#TREES-2 .animation,
#TREES-1 .animation{
  transform-origin: bottom;
}
#TREES-2 #t2-left{
  animation: rotate-5 4s ease-in-out infinite alternate;
}
@keyframes rotate-5 {
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
@keyframes rotate-5-reverse {
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
#TREE-2,
#TREES-2 #t2-right{
  animation: rotate-3 4s linear infinite alternate;
}
@keyframes rotate-3 {
  50% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}

#TREES-1 #t1-left{
  animation: rotate-1 4s linear infinite alternate;
}

#TREES-1 #t1-right{
  animation: rotate-5 4s linear infinite alternate;
}
#TREE-1,
#TREE-3,
#TREES-1 #t1-middle{
  animation: rotate-2 4s linear infinite alternate ;
}
@keyframes rotate-2 {
  50% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(-2deg);
  }
}
@keyframes rotate-1 {
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(-1deg);
  }
}
#BOY-2 #feet{
  transform-origin: left;
  animation: rotate-5 0.5s linear infinite alternate ;
}

#BOY-1 {
  transform-origin: bottom left;
  animation: boy 3s linear infinite alternate ;
}
@keyframes boy {
  50% {
    transform: scale(1.03);
  }
}
#GIRL #hand{
  transform-origin: top right;
  animation: rotate-5 2s linear infinite alternate ;
}
#GIRL #hand-2{
  transform-origin: top;
  animation: rotate-5-reverse 2s linear infinite alternate ;
}
#Girl #wave{
  transform-origin: bottom;
  animation: rotate-5 1s linear infinite alternate ;
}
.shape1{
  transform-origin: center;
  animation: rotate 5s linear infinite alternate ;
}
.shape2{
  transform-origin: center;
  animation: rotate 4s linear infinite alternate ;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.triangle{
  color: rgb(54%, 22%, 46%);
}
.triangle::before{
  content:'';
  color: rgba(54%, 22%, 46%,0.3);
  margin-top: -2.5rem;
  border: 3rem solid transparent;
  border-bottom: 4rem solid currentColor;
}
.semicircle::before{
  content:'';
  @apply absolute transform rotate-45 bg-red-500 rounded-b-full bg-opacity-30 w-20 h-10
}

