@tailwind base;
@tailwind components;
@tailwind utilities;

/*==========================================*/
/* Reset */
/*==========================================*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

@layer base {
  *,
  ::before,
  ::after {
    @apply border-current;
  }
  html {
    font-size: 1.2vw;
    font-family: 'Ubuntu', sans-serif;
    font-display: optional;

  }
  @media (max-width: 768px) {
    html {
      font-size: 4vw;

    }
  }
  body {
    width: 1280px;
  }
  @font-face {
    font-display: swap;
  }
  a {
    @apply cursor-pointer;
  }
  img,video {
    @apply w-full;
  }
  .no-js .lazy{
    @apply hidden;
  }
}

@layer components {
  .wrapper{
    @apply px-10 md:px-40 ;
  }
  .ratio {
    @apply relative inline-block w-full;
  }
  .ratio::before {
    content: "";
    padding-top: var(--aspect-ratio);
    @apply block;
  }
  .ratio.ratio-sm {
    --aspect-ratio: 66.6%;
  }
  .ratio.ratio-desktop {
    --aspect-ratio: 53.6%;
  }
  .ratio.ratio-mobile {
    --aspect-ratio: 181.2%;
  }
  .ratio > img,
  .ratio > video {
    @apply absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center;
  }
  .btn {
    @apply relative text-white font-bold text-sm px-10 py-3 mx-1 my-2 inline-block overflow-hidden rounded-2xl transition-all duration-300;
  }
  .btn:before{
    @apply absolute bottom-0 left-0 w-full h-full bg-white rounded-2xl transition-all duration-300; 
    content:'';
    transform:translateY(100%);
  }
  .btn:hover:before{
    @apply translate-y-0;
  }
}

.background{ 
  background:center / cover url('.././assets/imgs/svg/background.svg') no-repeat;
}
 
svg .animation{
  transform-box: fill-box;
}
#TREES-2 .animation,
#TREES-1 .animation{
  transform-origin: bottom;
}
#TREES-2 #t2-left{
  animation: rotate-5 4s ease-in-out infinite alternate;
}
@keyframes rotate-5 {
  50% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}
@keyframes rotate-5-reverse {
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
#TREES-2 #t2-right{
  animation: rotate-3 4s linear infinite alternate;
}
@keyframes rotate-3 {
  50% {
    transform: rotateZ(3deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}
#TREES-1 #t1-left{
  animation: rotate-1 4s linear infinite alternate;
}
#TREES-1 #t1-right{
  animation: rotate-5 4s linear infinite alternate;
}
#TREES-1 #t1-middle{
  animation: rotate-2 4s linear infinite alternate ;
}
@keyframes rotate-2 {
  50% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(-2deg);
  }
}
@keyframes rotate-1 {
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(-1deg);
  }
}
#BOY-2 #feet{
  transform-origin: left;
  animation: rotate-5 0.5s linear infinite alternate ;
}

#BOY-1 {
  transform-origin: bottom left;
  animation: boy 3s linear infinite alternate ;
}
@keyframes boy {
  50% {
    transform: scale(1.03);
  }
}
#GIRL #hand{
  transform-origin: top right;
  animation: rotate-5 2s linear infinite alternate ;
}
#GIRL #hand-2{
  transform-origin: top;
  animation: rotate-5-reverse 2s linear infinite alternate ;
}
.triangle{
  color: rgb(54%, 22%, 46%);
}
.triangle::before{
  content:'';
  color: rgba(54%, 22%, 46%,0.3);
  margin-top: -2.5rem;
  border: 3rem solid transparent;
  border-bottom: 4rem solid currentColor;
}
.semicircle::before{
  content:'';
  @apply absolute transform rotate-45 bg-red-500 rounded-b-full bg-opacity-30 w-20 h-10
}

