@tailwind base;
@tailwind components;
@tailwind utilities;

/*==========================================*/
/* Reset */
/*==========================================*/
@layer base {
  *,
  ::before,
  ::after {
    @apply border-current;
  }
  html {
    font-size: 16px;
  }
  @media (max-width: 640px) {
    html {
      font-size: 15px;
    }
  }
  html {
    font-display: optional;
  }
  body {
    width: 1280px;
  }
  @font-face {
    font-display: swap;
  }
  a {
    @apply cursor-pointer;
  }
  img {
    @apply w-full;
  }
}

@layer components {
  .card {
    @apply w-full h-full text-0 border-current border-2 dark:hover:bg-gray-900 hover:bg-gray-100 hover:text-green-700 cursor-pointer  relative z-50 flex flex-col;
  }
  .card * {
    border-color: inherit;
  }
  .card:hover img {
    transform: scale(1.1);
  }
  .card:hover .card-visit {
    @apply opacity-100;
  }
  .card img {
    @apply transition-transform duration-500 h-full;
  }
  .card-body {
    @apply py-2 px-3 text-base;
  }
  .card-body .circle {
    @apply inline-block w-3 h-3 rounded;
  }
  .card-text-wrapper {
    @apply border-2 flex-1 flex justify-center items-center rounded-lg text-center;
  }
  .card-text-wrapper .card-text {
    @apply py-1;
  }
  .card-img-wrapper {
    @apply overflow-hidden border-t flex-grow;
  }
  .card-visit {
    @apply opacity-0 transition-all duration-300 uppercase whitespace-nowrap absolute px-24 py-1 dark:text-gray-400 dark:bg-gray-100 bg-black text-white text-base top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .text-muted {
    @apply text-gray;
  }
  .ratio {
    @apply relative inline-block w-full;
  }
  .ratio::before {
    content: "";
    padding-top: var(--aspect-ratio);
    @apply block;
  }
  .ratio.ratio-sm {
    --aspect-ratio: 66.6%;
  }
  .ratio.ratio-desktop {
    --aspect-ratio: 53.6%;
  }
  .ratio.ratio-mobile {
    --aspect-ratio: 181.2%;
  }
  .ratio > img {
    @apply absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center;
  }
  .button {
    @apply bg-white dark:bg-gray-900 border-2 px-4 py-1 mx-1 relative overflow-hidden inline-block transition-transform duration-300 rounded-full;
  }
  .button::before {
    @apply bg-black dark:bg-gray-300;
    content: "";
    position: absolute;
    width: 105%;
    top: -50%;
    left: 0;
    height: 200%;
    transition: 0.3s linear;
    transform: translateY(100%);
    clip-path: ellipse(60% 50%);
  }
  .button span {
    @apply z-10 relative transition-all duration-300  dark:text-gray-300;
  }
  .button.active span,
  .button:hover span {
    @apply text-white dark:text-gray-900;
  }
  .button.active::before,
  .button:hover::before {
    @apply transform translate-y-0;
  }
  .body {
    margin-top: 4.5rem;
  }
  #body {
    animation: scroll 2000ms;
  }
  @keyframes scroll {
    from {
      transform: translateY(-500%);
    }
    to {
      transform: translateY(0);
    }
  }
  .darkMode {
    @apply mx-2 inline-block w-6 h-6 relative;
  }

  .darkMode.active::before {
    @apply opacity-0;
  }
  .darkMode.active::after {
    @apply opacity-100  delay-300;
  }
  .darkMode::before,
  .darkMode::after {
    content: "";
    @apply absolute w-full h-full  transition-all duration-300;
    background: no-repeat center/120%;
  }
  .darkMode::before {
    background-image: url(".././assets/imgs/Sun.svg");
  }
  .darkMode::after {
    @apply opacity-0;
    background-image: url(".././assets/imgs/moon.svg");
  }
  .letter {
    @apply relative text-justify text-lg;
  }
  .letter,
  .contact {
    width: 40rem;
  }
  .letter::before {
    content: "";
    background: no-repeat center/100% url(".././assets/imgs/leaves.svg");
    @apply w-9 h-10 block my-8 mx-auto;
  }
  .highlight.active {
    @apply relative;
  }
  .highlight.active::before {
    content: "";
    animation: highlightanimation 1s forwards;
    @apply absolute h-2 -bottom-1.5 w-0 left-0 bg-green-600 bg-opacity-90;
  }
  @keyframes highlightanimation {
    to {
      width: 100%;
    }
  }
  .letter ul {
    list-style: disc;
  }
  form input,
  form textarea {
    @apply w-full p-3 border;
  }
  .leave {
    @apply w-56 h-56 inline-block absolute;
    background: no-repeat center/100% url(".././assets/imgs/leave.svg");
  }
}
